.game-grid{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: blue;
}

.game-grid div {
    width:25%;
    height:25%;
    background-color: yellow;
    font-size: 48px;
    font-weight: bold;
    vertical-align: middle;    
    text-align: center;
    /* outline: 1px solid blue; */
}